.w-cp-wrapper
  margin-top: 60px
  padding: 12vw 9.5vw
  @include breakpoint (tabletOnly)
    padding: 6vw 9vw
  @include breakpoint (desktopOnly)
    max-width: 1025px
    padding: 0 20px
    margin: 110px auto 50px auto
  @include breakpoint (desktopHD)
    display: flex
    flex-direction: row
    justify-content: center
    max-width: 1300px
    margin: 60px auto 0 auto
    padding: 8vw 20px 15vw 20px


.w-cp-city-ls-wrapper
  @include breakpoint(desktopHD)
    display: inline-block
    width: 50%
