.b-about
  display: block
  width: 100%
  text-align: center
  padding: 50px 10px
  background: $alabaster
  &__container
    max-width: 1300px
    margin: 0 auto
  p
    display: block
    text-align: left
    padding: 0vw 8.3vw 2vw 5vw
    font-size: 5.7vw
    font-weight: 100
    color: $mineShaft
    line-height: 1.5
