.b-footer
  display: block
  width: 100%
  position: relative
  background-color: $mineShaft

  &-container
    text-align: center
    display: block
    padding: 5vw 5vw

  &__icon-container
    display: inline-block

  &__webpage-container
    padding-top: 5vw
    color: #5f5f5f
    font-size: 4.1vw
    letter-spacing: 0.6px
    &:hover
      opacity: 0.7

  &__copyright-container
    display: block
    background-color: $codGray
    color: $scorpion
    padding-top: 4.6vw
    padding-bottom: 4.6vw
    text-align: center

  &__copyrigtxt1
    margin: 0 auto
    font-size: 14px
    letter-spacing: 0.4px

  &__copyrigtxt2
    display: none
    font-size: 1vw
    letter-spacing: 1.2px
    font-weight: 500
