.b-header
  width: 100%
  position: relative
  z-index: 1
  max-height: 557px
  overflow-y: hidden

  &-banner
    display: block
    width: 100%

  &-banner-desk
    display: none
    width: 100%

@include breakpoint(tabletOnly)
  .b-header
    max-height: 695px
    overflow: hidden

    &-banner
      display: none

    &-banner-desk
      display: block


.b-header-title
  display: block
  text-align: center
  color: $mineShaft
  position: absolute
  top: 50%
  transform: translateY(-50%)
  z-index: 10
  padding: 20px 20px

  h1
    width: 100%
    font-size: 18.4vw
    font-weight: $bold
    line-height: 1
    letter-spacing: 0.1vw

  img
    display: none
    padding: 30px 0

  h2
    display: block
    font-size: 5.9vw
    margin-top: 15.6vw
    font-weight: $regular
    letter-spacing: 0.3vw

  p
    display: none
    font-size: 2.5vw
    margin-top: 5.4vw
    font-weight: $light
    letter-spacing: -0.3px

@include breakpoint(tabletOnly)
  .b-header-title
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 100%

    h1
      font-size: 5vw

    h2
      display: none

    p
      display: block

@include breakpoint(desktopOnly)
  .b-header-title
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 100%

    img
      display: block
      margin: 0 auto

    h1
      font-size: 70px

    p
      font-size: 20px
      font-weight: $bold
      margin-top: 0
