.b-header
  width: 100%
  position: relative
  z-index: 1
  &-banner
    display: block
    width: 100%
  &-banner-desk
    display: none
    width: 100%

.b-header-title
  display: block
  text-align: center
  color: $mineShaft
  position: absolute
  top: 53.125VW
  margin: 0 auto
  z-index: 10
  padding: 20px 20px
  h1
    width: 100%
    font-size: 18.4vw
    font-weight: 500
    line-height: 1
    letter-spacing: 0.1vw
  img
    display: none
    padding: 30px 0
  h2
    display: block
    font-size: 5.9vw
    margin-top: 15.6vw
    font-weight: 400
    letter-spacing: 0.3vw
  p
    display: none
    font-size: 2.5vw
    margin-top: 5.4vw
    font-weight: 300
    letter-spacing: -0.3px
