.b-job-section
  width: 100%
  display: block
  text-align: center
  padding: 31.25vw 9.375vw
  p
    font-weight: 100
    color: $mineShaft
    line-height: 1.5
    font-size: 6.3vw
    letter-spacing: 0.1px

.b-job-position
  display: block
  width: 100%
  max-width: 1300px
  margin: 0 auto
