.b-location
  display: block
  width: 100%
  background-color: $mineShaft
  padding: 20vw 10vw 3vw 10vw
  @include breakpoint(tabletOnly)
    padding: 10vw 5vw
  @include breakpoint(desktopOnly)
    padding: 80px 0 50px 0
