.c-btn-apply
  display: none
  position: absolute
  right: 9vw
  top: 8vw
  padding: 1.2vw 3.5vw
  border: solid 1.2px $mineShaft
  border-radius: 5px
  font-weight: $light
  font-size: 1.5vw
  color: $mineShaft
  @include breakpoint(tabletOnly)
    display: inline-block
    &:active
      background: $alto
    &--contrast
      border-color: $gallery
      color: $gallery
      &:hover
        color: $gallery
  @include breakpoint(desktopOnly)
    right: 20px
    top: 3vw
    font-size: 12px
    letter-spacing: 1px
    padding: 10px 30px
    overflow: hidden
    font-weight: $regular
    border: solid 2px $mineShaft
    &:before
      content: ''
      position: absolute
      width: 0
      height: 100%
      top: 0
      left: 0
      background: transparentize($mineShaft, 0.8)
      border-radius: 5px
      transition: all 0.3s ease
    &:hover:before
      width: 100%
    &--contrast
      border: solid 2px $gallery
      &:before
        background: transparentize($gallery, 0.8)
  @include breakpoint(desktopHD)
    top: 2.5vw


.c-btn-load
  position: relative
  background-color: $alto
  color: $mineShaft
  border-radius: 5px
  font-weight: $light
  letter-spacing: 1.8px
  padding: 5vw 6vw
  font-size: 4.4vw
  outline: none
  border: none
  transition: 0.4s
  top: 0px
  cursor: pointer
  &:active
    background: darken($mineShaft, 10%)
  @include breakpoint(tabletOnly)
    font-size: 1.4vw
    padding: 2vw 1.7vw
  @include breakpoint(desktopOnly)
    padding: 15px 15px
    font-size: 12px
    &:hover
      background: $mineShaft
      color: $alto
      box-shadow: 0px 3px 10px lighten($mineShaft, 40%)
      transition: 0.4s
      top: -3px
    &:active
      top: 0px
      box-shadow: 0px 0px 0px lighten($mineShaft, 40%)
      transition: 0.2s
      background-color: $alto
      color: $mineShaft


.c-btn-submit
  background: $crimson
  border: none
  font-size: 4.7vw
  color: $white
  padding: 3.5vw
  width: 100%
  text-align: center
  cursor: pointer
  outline-style: none
  &:active
    background: darken($crimson, 10%)
  @include breakpoint (tabletOnly)
    position: absolute
    bottom: 0
    right: 0
    font-size: 2vw
    padding: 1.8vw
    width: 50%
  @include breakpoint(desktopOnly)
    font-size: 20px
    padding: 20px
