.c-city-ls
  display: block
  width: 100%
  margin: 0 auto
  text-align: left
  padding: 8vw 0

  &-pin
    display: inline-block
    margin-right: 3vw
    vertical-align: top
    height: 5.2vw

  h3
    display: inline-block
    color: $concrete
    font-weight: 300
    font-size: 5.2vw

  p
    color: $doveGray
    line-height: 1.5
    font-size: 5.2vw
    margin-top: 4vw
    line-height: 1.5


.c-city-cp-block1
  width: 100%
  display: block
  padding-top: 5vw


.c-city-cp-block2
  width: 100%
  display: block


.c-city-cp-ls
  display: block
  width: 100%
  margin: 0 auto
  text-align: center
  padding: 5vw 0 0vw 0
  h1
    font-weight: 800
    font-size: 4vw
    color: $codGray
  p
    font-size: 3.5vw
    color: $codGray
    line-height: 1.5
