.c-description
  display: block
  width: 100%
  text-align: center
  padding: 20px 10px 40px 10px
  background-color: $alabaster
  h2
    font-weight: 500
    font-size: 6.1vw
    letter-spacing: 1.5vw
  p
    font-weight: 100
    color: $doveGray
    font-size: 5.7vw
    line-height: 1.7
  &--gray
    background-color: $gallery
