.c-form
  width: 100%
  display: block
  background-color: $concrete

  &__block1
    position: relative
    display: block
    width: 100%
    border-bottom: solid 2px $dustyGray
    padding: 5vw 10vw 10vw 10vw

  &__block2
    display: block
    padding: 5vw 10vw

@include breakpoint (tabletOnly)
  .c-form
    display: flex

    form
      position: relative

    &__block1
      display: inline-block
      width: 50%
      padding: 2.5vw 5vw 5vw 5vw
      border-bottom: none
      border-right: solid 2px $dustyGray
      vertical-align: top

    &__block2
      display: inline-block
      width: 50%
      padding: 2.5vw 5vw

.c-form__input
  width: 100%
  border: none
  border-bottom: 2px solid $dustyGray
  background-color: $concrete
  outline-style: none
  margin-bottom: 10vw
  margin-top: 2vw
  font-size: 4.7vw

  &::placeholder
    color: black

  &-label
    font-weight: $light
    font-style: italic
    font-size: 4.7vw
    color: $dustyGray

@include breakpoint (tabletOnly)
  .c-form__input
    border-bottom: 1px solid $dustyGray
    margin-bottom: 5vw
    margin-top: 1vw
    font-size: 1.6vw

    &::placeholder
      font-size: 1.6vw

    &-label
      font-size: 1.6vw


.c-form__input-label-checkbox
  display: inline-block
  position: relative
  margin-left: 9vw
  font-size: 4.7vw
  letter-spacing: 0.7px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  cursor: pointer

@include breakpoint (tabletOnly)
  .c-form__input-label-checkbox
    margin-left: 3.5vw
    font-size: 1.8vw


.c-form__input-checkbox
  position: absolute
  opacity: 0
  top: -0.5vw
  left: -9vw

  &:checked ~ .c-form__checkmark
    background-color: $crimson

  &:checked ~ .c-form__checkmark::after
    display: block

@include breakpoint (tabletOnly)
  .c-form__input-checkbox
    top: -0.3vw
    left: -4vw


.c-form__checkmark
  position: absolute
  top: -0.5vw
  left: -9vw
  margin: 1vw 1vw
  height: 4.2vw
  width: 4.2vw
  border: 1.5px solid $crimson
  border-radius: 2px
  cursor: pointer

  &::after
    content: ""
    position: absolute
    display: none
    left: 1.22vw
    top: 0.1vw
    width: 1vw
    height: 2vw
    border: solid white
    border-width: 0 1.8px 1.8px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)

@include breakpoint (tabletOnly)
  .c-form__checkmark
    top: -0.3vw
    left: -4vw
    margin: 0.5vw 0.5vw
    height: 2vw
    width: 2vw
    border: 1px solid $crimson

    &::after
      left: 0.53vw
      top: -0.08vw
      width: 0.5vw
      height: 1.2vw


.c-form__input-msg
  display: block
  width: 100%
  background-color: $concrete
  border: none
  margin-top: 5vw
  font-size: 4.7vw
  outline-style: none

  &::placeholder
    color: black

@include breakpoint (tabletOnly)
  .c-form__input-msg
    margin-top: 2vw
    font-size: 1.6vw
