.c-job-position-ad
  width: 100%
  display: block
  text-align: left
  padding: 7vw 4vw
  p
    font-weight: $light
    color: $mineShaft
    font-size: 4.7vw
    letter-spacing: 0.1px
    line-height: 1.4

  &--bg1
    background: $pampas

  &--bg2
    background: inherit

@include breakpoint(tabletOnly)
  .c-job-position-ad
    position: relative
    padding: 4vw 9vw
    p
      font-weight: $light
      font-size: 1.6vw
      line-height: 1.7
      letter-spacing: 0.9px
      max-width: 60%

    &--bg1
      background: inherit

    &--bg2
      background: $mineShaft
      p
        color: $gallery
