.c-job-position-ad
  width: 100%
  display: block
  text-align: left
  padding: 5vw 5vw
  p
    font-weight: 300
    color: $mineShaft
    font-size: 4.7vw
    letter-spacing: 0.1px
    line-height: 1.4
    max-width: 80vw

  &--bg1
    background-color: $pampas

  &--bg2
    background-color: inherit

#pm-txt
  max-width: 100%
