.c-lang-ls-noborder
    display: block
    font-weight: 300
    font-size: 4.4vw
    margin: 3vw 0
    color: $crimson
    li
      display: inline-block
      margin-right: 2.5vw

.c-lang-ls-border
  display: none
  margin: 0 3vw
  font-weight: 300
  font-size: 1.3vw
  li
    display: inline-block
    border-radius: 2px
    padding: 1vw 2vw

  &--red
    color: $crimson
    border: solid 1px $silver

  &--white
    color: $gallery
    border: solid 1px $gallery
