.c-nav-menu-mob
  display: none
  position: fixed
  width: 100%
  height: auto
  background-color: $mineShaftTran
  padding: 9.37vw
  top: 60px
  z-index: 20


.c-nav-menu-contaier
  color: $silver
  font-weight: 300
  ul
    padding: 12.5vw 0
    li
      padding: 6.25vw 9.37vw
      text-align: center
      font-weight: 100
      font-size: 7.6vw

.nav-menu-mob__social
  width: 95%
  max-width: 768px
  margin: 0 auto
  p
    display: inline-block
    padding: 0.93vw 0
    font-size: 4.6vw
    letter-spacing: 1.4vw
