.c-nav-menu-mob
  display: none
  position: fixed
  width: 100%
  height: 100vh
  background: $mineShaftTran
  top: 0
  z-index: 20
  @include breakpoint(phoneLandscape)
    top: 0px
    width: 50%
    right: 0
    height: 100vh
  @include breakpoint(tabletOnly)
    width: 33.33%
  // @include breakpoint(tabletPortrait)
  //   height: 321px
  // @include breakpoint(tabletLandscape)
  //   height: 444px
  @include breakpoint(desktopOnly)
    display: none
    width: 0
    height: 0
    z-index: 0
    padding: 0
    border: none


.c-nav-menu-container
  @include absolute(center-vertical)
  color: $silver
  font-weight: $light
  position: absolute
  width: 100%
  @include breakpoint(desktopOnly)
    display: none
  ul
    @include breakpoint(desktopOnly)
      display: none
    li
      line-height: 3
      text-align: center
      font-weight: $ultraLight
      font-size: 7.6vw
      @include breakpoint(phoneLandscape)
        font-size: 2.5vw
        line-height: 3
        letter-spacing: 2px
      @include breakpoint(tabletOnly)
        font-size: 2vw
        @include breakpoint(desktopOnly)
          display: none
      a
        display: block


.nav-menu-mob__social
  width: 95%
  max-width: 768px
  margin: 50px auto 0 auto
  padding: 0 10vw
  @include breakpoint(phoneLandscape)
    padding: 0 3vw
  @include breakpoint(desktopOnly)
    display: none

  p
    display: inline-block
    padding: 0.9vw 0
    font-size: 4.6vw
    letter-spacing: 1.4vw
    @include breakpoint(phoneLandscape)
      padding: 0vw 0vw
      font-size: 1.5vw
      letter-spacing: 0.4vw
    @include breakpoint(desktopOnly)
      display: none
